.add-new-trip{
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: center;
  background: rgba(0, 0, 0, 0.4);
  *{
    box-sizing: content-box;
  }
  .modal{
    width: 720px;
    height: auto;
    background: white;
    z-index: 999;
    flex-direction: column;
    font-size: 16px;

    hr{
      width: 100%;
      border: none;
      height: 0.5px;
      background: #afb1b6;
    }

    form{
      display: flex;
      flex-direction: column;
      justify-content: center;
      //padding: 20px 20px;
      //gap: 15px;

      label{
        font-size: 16px;
        margin-bottom: 10px;
      }

      .header{
        padding: 15px 20px;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;

        .close{
          font-size: 16px;
          border: none;
          background: none;
          cursor: pointer;
        }

        .close:hover{
          color: #1890FF;
        }

      }

      .main{
        display: flex;
        flex-direction: column;
        padding: 35px 20px;

        input[type="date"]::-webkit-calendar-picker-indicator{
          background: transparent;
        }
        input[type="date"]{
          -webkit-appearance: none;
          appearance: none;
          -moz-appearance: none;
          background-image:url("../../../public/icons/calendar.svg");
          background-repeat: no-repeat;
          background-size: 20px 20px;
          background-position: calc(100% - 10px);
        }

        .default-input{
          padding: 10px 10px;
          height: 20px;
          outline: none;
          border: 1px solid #afb1b6;
          font-size: 16px;
          margin-bottom: 20px;
        }

        select{
          -webkit-appearance: none;
          appearance: none;
          -moz-appearance: none;
          background-image:url("../../../public/icons/arrow-down.svg");
          background-repeat: no-repeat;
          background-size: 14px 14px;
          background-position: calc(100% - 12px);

          .first-option{
            color: #afb1b6;
          }
        }


      }

      .footer{
        padding: 15px 20px;
        gap: 20px;
        justify-content: flex-end;

        button{
          font-size: 16px;
          padding: 8px 14px;
          justify-self: center;
        }

        button:hover{
          cursor: pointer
        }

        .cancel{
          background: white;
          border: 1px solid #afb1b6;
        }

        .save{
          border: none;
          background: #1890FF;
          color: white;

        }
      }


    }


  }


}