.container-left {
  width: 65%;
  flex-direction: column;
  background: white;
  padding-top: 30px;
  padding-left: 30px;
  padding-bottom: 30px;
  gap: 40px;
  overflow: hidden;

  .app-name{
    font-size: 24px;
  }

  .container-search{
    padding: 15px 15px;
    gap: 10px;
    background: #F2F4F8;
    width: 250px;
    border-radius: 10px;

    .search-icon{
      width: 28px;
      height: 28px;
    }

    input{
      align-items: center;
      border: none;
      outline: none;
      background: none;
      font-size: 14px;
      width: 200px;
    }

    input::placeholder{
      color: black;
    }

  }

}
