.trip{
  width: 200px;
  height: 250px;
  flex-direction: column;

  .img-div{
    width: 200px;
    height: 180px;
    img{
      width: 200px;
      height: 180px;
      object-fit: cover;
    }
  }

  .bottom-section{
    flex-direction: column;
    box-sizing: border-box;
    height: 70px;
    border: 1px solid #F2F4F8;
    padding: 12px 12px;
    font-size: 12px;
    gap: 10px;

    .date{
      color: #afb1b6;
    }


  }
}

.trip:hover{
  cursor: pointer;
}

